:root {
  --blue: 217, 75%, 64%;
  --red: 359, 65%, 53%;
  --orange: 34, 78%, 58%;
  --green: 160, 22%, 45%;

  --dark-one: hsl(297, 17%, 21%);
}

html {
  min-height: 100vh;
  background: linear-gradient(hsl(var(--accent-one)) 1vh, var(--dark-one) 100vh), hsl(var(--accent-one));
}

body {
  max-width: 1180px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 5vw clamp(40px, 10vh, 120px);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: var(--text-size-m);
  color: hsl(var(--accent-one));
}

.header-wrap {
  position: relative;
  display: flex;
  height: clamp(500px, 90vh, 1100px);
  align-items: center;
}

h1 {
  margin: 0;
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: clamp(20px, 11vw, 110px);
  line-height: 100%;
  text-transform: uppercase;
  color: var(--dark-one);
}

p {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 160%;
}

a, a:visited {
  color: hsl(var(--accent-one));
  text-decoration: none;
  background: linear-gradient(0deg, hsla(var(--accent-one), 0.2), hsla(var(--accent-one), 0.2)) no-repeat;
  background-position: 0 calc(100% + 0.9em);
  transition: background-position 0.25s ease;
}
  a:hover {
    background-position: 0 0;
  }

.about {
  display: flex;
  border-top: 1px solid hsl(var(--accent-one));
  border-bottom: 1px solid hsl(var(--accent-one));
}

.links {
  display: flex;
}

.image {
  top: 50%; left: 50%;
  z-index: -1;
}
  .image, .image div {
    position: absolute;
    transform-style: preserve-3d;
    perspective: 10000px;
  }
  .image div {
    width: clamp(200px, 60vw, 700px); height: clamp(200px, 60vw, 700px);
    background: hsla(var(--accent-one), 0.5);
    border-radius: 50%;
    transform-origin: left center;
    animation: imageRotation 60s ease-in infinite;
  }
    .image div:nth-child(2) { animation-delay: -12s; }
    .image div:nth-child(3) { animation-delay: -24s; }
    .image div:nth-child(4) { animation-delay: -36s; }
    .image div:nth-child(5) { animation-delay: -48s; }
    .image div::before, .image div::after {
      content: '';
      position: absolute;
      width: 100%; height: 100%;
      background: hsla(var(--accent-one), 0.5);
      border-radius: 50%;
      transform-origin: left center;
    }
    .image div::before {
      transform: rotateY(24deg);
    }
    .image div::after {
      transform: rotateY(48deg);
    }

@keyframes imageRotation {
  from { transform: translateY(-50%) rotateY(0deg); }
  to   { transform: translateY(-50%) rotateY(360deg); }
}



@media (orientation: landscape) {
  .about {
    flex-wrap: wrap;
    margin-bottom: clamp(20px, 4vw, 40px);
    padding: clamp(20px, 6vw, 40px) 0;
    column-gap: clamp(20px, 4vw, 40px);
    row-gap: clamp(20px, 4vw, 40px);
  }
    .about p {
      width: calc(50% - 2vw);
    }
  
  .links {
    flex-wrap: wrap;
    column-gap: 4vw;
    row-gap: 0.5vw;
  }
    .links p {
      width: calc(50% - 2vw);
    }
}
@media (orientation: portrait) {
  .header-wrap {
    min-height: 400px;
    height: 80vh;
  }

  .about {
    flex-direction: column;
    margin-bottom: clamp(20px, 4vw, 40px);
    padding: clamp(20px, 6vw, 40px) 0;
    column-gap: clamp(20px, 4vw, 40px);
    row-gap: clamp(20px, 4vw, 40px);
  }
  .links {
    flex-direction: column;
    row-gap: 1.5vw;
  }
}