:root {
	--color-bg-default: rgba(248, 248, 248, 0.95);
	--color-typo-default: black;
	--font-size-small: 14px;
	--font-size-default: 17px;
	--font-size-h1: 100px;
	--font-size-h2: 60px;
	--font-size-logo: 20px;
	--column-size: 120px;
	--layout-h-padding: 140px;
	--layout-v-padding: 140px;
	--gap: 20px;
}
@media screen and (min-width: 1130px) {
	:root {
		--font-size-default: 17px;
		--font-size-h1: 100px;
		--font-size-h2: 60px;
		--font-size-h3: 23px;
		--font-size-logo: 20px;
		--column-size: 140px;
		--layout-h-padding: 140px;
		--layout-v-padding: 140px;
	}
}
@media screen and (max-width: 1129px) {
	:root {
		--font-size-default: 15px;
		--font-size-h1: 70px;
		--font-size-h2: 60px;
		--font-size-h3: 23px;
		--font-size-logo: 20px;
		--column-size: 120px;
		--layout-h-padding: 80px;
		--layout-v-padding: 100px;
	}
	h2 {
		margin: 0 0 50px !important;
	}
}
@media screen and (max-width: 800px) {
	:root {
		--font-size-default: 15px;
		--font-size-h1: 70px;
		--font-size-h2: 60px;
		--font-size-h3: 23px;
		--font-size-logo: 20px;
		--column-size: 140px;
		--layout-h-padding: 60px;
		--layout-v-padding: 100px;
	}
	h2 {
		margin: 0 0 30px !important;
	}
}
@media screen and (max-width: 500px) {
	:root {
		--font-size-default: 15px;
		--font-size-h1: 48px;
		--font-size-h2: 32px;
		--font-size-h3: 20px;
		--font-size-logo: 20px;
		--column-size: 100px;
		--layout-h-padding: 28px;
		--layout-v-padding: 80px;
	}
	h2 {
		margin: 0 0 30px !important;
	}
	nav.navigation {
		display: none;
	}
}
@media screen and (max-width: 320px) {
	:root {
		--font-size-default: 15px;
		--font-size-h1: 40px;
		--font-size-h2: 32px;
		--font-size-h3: 20px;
		--font-size-logo: 20px;
		--column-size: 100px;
		--layout-h-padding: 20px;
		--layout-v-padding: 60px;
	}
	h2 {
		margin: 0 0 40px !important;
	}
	nav.navigation {
		display: none;
	}
}



body, html {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: var(--font-size-default);
	color: var(--color-typo-default);
	background: var(--color-bg-default);
	scroll-behavior: smooth;
}
p, .text {
	color: rgb(74, 78, 87);
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	max-width: 400px;
}
p {
	margin-bottom: 14px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
p:last-child {
	margin-bottom: 0;
}
a {
	text-decoration: none;
	color: #4A90E2;
	transition: color 0.3s ease, opacity 0.3s ease;
}
a:hover {
	text-decoration: none;
	color: #54a8ff;
}
h1 {
	margin: 0 0 20px 0;
	font-family: 'Noto Serif TC', serif;
	font-weight: 900;
	line-height: 1em;
	font-size: var(--font-size-h1);
	line-height: 1.2em;
	color: var(--color-typo-default);
}
h2 {
	font-family: 'Noto Serif TC', serif;
	font-size: var(--font-size-h2);
	font-weight: normal;
	line-height: 1.2em;
	color: var(--color-typo-default);
	margin: 0 0 80px;
}
h3 {
	font-family: 'Noto Serif TC', serif;
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 24px;
	margin-left: 0px;
	color: rgb(23, 25, 29);
	font-size: 24px;
	font-weight: 600;
}
.text_view_secondary {
	opacity: 0.6;
}
.text_size_s {
	font-size: 12px;
}
.text_transform_uppercase {
	text-transform: uppercase;
}


header.header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	padding: 20px var(--layout-h-padding);
	background: var(--color-bg-default);
	z-index: 1;
}
.header__logo {
	font-family: 'Noto Serif TC', serif;
	text-transform: uppercase;
	font-size: var(--font-size-logo);
	font-weight: 900;
	line-height: 20px;
	margin-right: 40px;
}
.header__socials {
	position: absolute;
	top: 26px;
	right: var(--layout-h-padding);
	display: flex;
	justify-content: flex-end;
}

nav.navigation {
	padding: 12px 180px 12px 0;
}
.navigation__item {
	display: inline-block;
	margin-right: 40px;
	text-decoration: none;
	font-weight: 300;
	color: var(--color-typo-default);
	opacity: 0.6;
	transition: opacity 0.3s ease;
}
.navigation__item:hover {
	opacity: 1;
	color: var(--color-typo-default);
}
.navigation__item:last-child {
	margin-right: 0px;
}

.round-icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: 12px;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.3;
	transition: opacity 0.3s ease;
}
.round-icon:hover {
	opacity: 1;
}
.round-icon_name_linkedin {
	background-image: url('linkedin_icon.svg');
	background-size: 35px;
}
.round-icon_name_facebook {
	background-image: url('facebook_icon.svg');
	background-size: 36px;
    background-position: -2px -3px;
}
.round-icon_name_codepen {
	background-image: url('codepen_icon.svg');
	background-size: 34px;
}
.round-icon_name_github {
	background-image: url('github_icon.svg');
	background-size: 32px;
}

.pen {
	position: relative;
	background: var(--color-bg-default);
	border-radius: 8px;
    overflow: hidden;
	transition: box-shadow 0.3s 0.2s ease, transform 0.3s 0.2s ease;
}
.pen__image {
	width: 100%;
	cursor: pointer;
}
.pen a {
	color: var(--color-typo-default);
	font-weight: 500;
}
.pen a:hover {
	opacity: 0.8;
}
.pen__description {
	padding: var(--gap);
	color: var(--color-typo-default);
	text-align: center;
	background: var(--color-bg-default);
}
.pen:hover {
	    box-shadow: 0 8px 22px -4px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

section {
	min-height: 100vh;
	box-sizing: border-box;
	padding: var(--layout-v-padding) var(--layout-h-padding);
}

.section_type_main {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

footer.footer {
	padding: 20px var(--layout-h-padding);
	color: black;
	opacity: 0.6;
}

.grid {
	display: grid;
	grid-column-gap: var(--gap);
	grid-row-gap: var(--gap);
}
.grid_ratio_1-1 {
	grid-template-columns: repeat(auto-fit, minmax(calc(var(--column-size) * 4), 1fr));
}
.grid_ratio_1-1-1 {
	grid-template-columns: repeat(auto-fit, minmax(calc(var(--column-size) * 2), 1fr));
}

.work-list {}
.work-list__item {
	padding-bottom: calc(var(--gap) * 1.5);
}