---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('demos');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---
<BaseLayout frontmatter={ entry.data } bodyClass="demo-page">
  <h1>{ entry.data.title }</h1>
  <main>
    <div class="demo">
      <Content />
    </div>

    { entry.data.caption != '' && <p class="caption" set:html={entry.data.caption}/> }

    <div class="links">
      <a href={ entry.data.codepenLink } class="button button-secondary">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0414 9.05234L10.7682 6.76809V3.09334L16.6838 7.2083L14.0414 9.05234ZM15.3993 10.0001L17.2883 8.6817V11.3183L15.3993 10.0001ZM10.7682 13.2321L14.0414 10.9478L16.6838 12.7919L10.7682 16.9068V13.2321ZM5.98482 10.9478L9.25804 13.2321V16.9068L3.34264 12.7919L5.98482 10.9478ZM4.62722 10.0001L2.73839 11.3183V8.6817L4.62722 10.0001ZM9.25804 6.76809L5.98482 9.05234L3.34264 7.2083L9.25804 3.09334V6.76809ZM10.013 11.8635L7.34261 9.99999L10.013 8.1362L12.6833 9.99999L10.013 11.8635ZM18.7852 7.0702C18.7812 7.04773 18.7776 7.02575 18.7719 7.00403C18.7684 6.99094 18.7641 6.9786 18.7601 6.96576C18.7542 6.9465 18.7483 6.92724 18.7407 6.90823C18.7355 6.8954 18.7296 6.88256 18.7239 6.86997C18.7159 6.85219 18.7076 6.83466 18.6981 6.81762C18.6913 6.80503 18.6839 6.79318 18.6766 6.78108C18.6664 6.76479 18.656 6.74874 18.6446 6.73319C18.6364 6.72183 18.6278 6.71047 18.6189 6.69936C18.607 6.68455 18.5942 6.67048 18.5812 6.65665C18.5713 6.64603 18.5614 6.63566 18.5512 6.62579C18.5375 6.61295 18.523 6.60061 18.5084 6.58851C18.497 6.57937 18.4859 6.56999 18.474 6.5616C18.47 6.55839 18.466 6.55468 18.4617 6.55172L10.4318 0.96577C10.1784 0.789242 9.84785 0.789242 9.59445 0.96577L1.56473 6.55172C1.56024 6.55468 1.55645 6.55839 1.55219 6.5616C1.54036 6.56999 1.52924 6.57937 1.51789 6.58851C1.50345 6.60061 1.48878 6.61295 1.4753 6.62579C1.46489 6.63566 1.45495 6.64603 1.44525 6.65665C1.432 6.67048 1.41946 6.68455 1.40739 6.69936C1.3984 6.71047 1.38988 6.72183 1.3816 6.73319C1.37024 6.74874 1.35983 6.76479 1.34966 6.78108C1.34232 6.79318 1.33499 6.80503 1.32836 6.81762C1.31866 6.83466 1.31038 6.85219 1.30257 6.86997C1.29689 6.88256 1.29074 6.8954 1.28577 6.90823C1.27844 6.92724 1.27205 6.9465 1.26614 6.96576C1.26211 6.9786 1.25785 6.99094 1.25454 7.00403C1.2491 7.02575 1.24508 7.04773 1.24129 7.0702C1.2394 7.08155 1.2368 7.09266 1.23514 7.10402C1.23088 7.13809 1.22852 7.17241 1.22852 7.20697V12.7929C1.22852 12.8277 1.23088 12.8618 1.23514 12.8959C1.2368 12.9075 1.2394 12.9186 1.24129 12.93C1.24508 12.9519 1.2491 12.9741 1.25454 12.9959C1.25785 13.009 1.26211 13.0215 1.26614 13.0341C1.27205 13.0536 1.27844 13.0729 1.28577 13.0919C1.29074 13.105 1.29689 13.1173 1.30257 13.1299C1.31038 13.1477 1.31866 13.1652 1.32836 13.1825C1.33499 13.1949 1.34232 13.207 1.34966 13.2186C1.35983 13.2351 1.37024 13.2509 1.3816 13.2667C1.38988 13.2786 1.3984 13.2897 1.40739 13.3008C1.41946 13.3154 1.432 13.3297 1.44525 13.3432C1.45495 13.3536 1.46489 13.3642 1.4753 13.3739C1.48878 13.3869 1.50345 13.3995 1.51789 13.4116C1.52924 13.4208 1.54036 13.4299 1.55219 13.4385C1.55645 13.4418 1.56024 13.4452 1.56473 13.4482L9.59445 19.0341C9.72127 19.1225 9.86702 19.1667 10.0132 19.1667C10.1592 19.1667 10.3052 19.1225 10.4318 19.0341L18.4617 13.4482C18.466 13.4452 18.47 13.4418 18.474 13.4385C18.4859 13.4299 18.497 13.4208 18.5084 13.4116C18.523 13.3995 18.5375 13.3869 18.5512 13.3739C18.5614 13.3642 18.5713 13.3536 18.5812 13.3432C18.5942 13.3297 18.607 13.3154 18.6189 13.3008C18.6278 13.2897 18.6364 13.2786 18.6446 13.2667C18.656 13.2509 18.6664 13.2351 18.6766 13.2186C18.6839 13.207 18.6913 13.1949 18.6981 13.1825C18.7076 13.1652 18.7159 13.1477 18.7239 13.1299C18.7296 13.1173 18.7355 13.105 18.7407 13.0919C18.7483 13.0729 18.7542 13.0536 18.7601 13.0341C18.7641 13.0215 18.7684 13.009 18.7719 12.9959C18.7776 12.9741 18.7812 12.9519 18.7852 12.93C18.7871 12.9186 18.7897 12.9075 18.7911 12.8959C18.7954 12.8618 18.798 12.8277 18.798 12.7929V7.20697C18.798 7.17241 18.7954 7.13809 18.7911 7.10402C18.7897 7.09266 18.7871 7.08155 18.7852 7.0702V7.0702Z" fill="currentColor"/>
        </svg>
        Check out the code
      </a>
      <a href={ entry.data.youtubeLink } class="button button-secondary">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.8008 6C19.8008 6 19.6055 4.62109 19.0039 4.01563C18.2422 3.21875 17.3906 3.21484 17 3.16797C14.2031 2.96484 10.0039 2.96484 10.0039 2.96484H9.99609C9.99609 2.96484 5.79687 2.96484 3 3.16797C2.60938 3.21484 1.75781 3.21875 0.996094 4.01563C0.394531 4.62109 0.203125 6 0.203125 6C0.203125 6 0 7.62109 0 9.23828V10.7539C0 12.3711 0.199219 13.9922 0.199219 13.9922C0.199219 13.9922 0.394531 15.3711 0.992187 15.9766C1.75391 16.7734 2.75391 16.7461 3.19922 16.832C4.80078 16.9844 10 17.0313 10 17.0313C10 17.0313 14.2031 17.0234 17 16.8242C17.3906 16.7773 18.2422 16.7734 19.0039 15.9766C19.6055 15.3711 19.8008 13.9922 19.8008 13.9922C19.8008 13.9922 20 12.375 20 10.7539V9.23828C20 7.62109 19.8008 6 19.8008 6ZM7.93359 12.5938V6.97266L13.3359 9.79297L7.93359 12.5938Z" fill="#FF0000"/>
        </svg>            
        Watch the video
      </a>
    </div>
  </main>
</BaseLayout>