<header class="header">
  <a href="/" class="link header__logo">
    <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.5876C0 6.07414 5.28019 0.793945 11.7936 0.793945V1.55778C5.70205 1.55778 0.763837 6.49599 0.763837 12.5876C0.763837 18.6792 5.70205 23.6174 11.7936 23.6174V24.3812C5.28019 24.3812 0 19.101 0 12.5876ZM24.0004 13.0001C24.0004 19.7413 18.5356 25.2062 11.7943 25.2062V24.4423C18.1137 24.4423 23.2366 19.3194 23.2366 13.0001C23.2366 6.68066 18.1137 1.55778 11.7943 1.55778V0.793945C18.5356 0.793945 24.0004 6.25881 24.0004 13.0001Z" fill="currentColor"/>
    </svg>
    Julia Miocene
  </a>
  <ul class="social-links">
    <li>
      <a href="https://www.youtube.com/c/JuliaMiocene" class="link social-links__youtube" aria-label="Open YouTube page">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.8008 6C19.8008 6 19.6055 4.62109 19.0039 4.01563C18.2422 3.21875 17.3906 3.21484 17 3.16797C14.2031 2.96484 10.0039 2.96484 10.0039 2.96484H9.99609C9.99609 2.96484 5.79688 2.96484 3 3.16797C2.60938 3.21484 1.75781 3.21875 0.996094 4.01563C0.394531 4.62109 0.203125 6 0.203125 6C0.203125 6 0 7.62109 0 9.23828V10.7539C0 12.3711 0.199219 13.9922 0.199219 13.9922C0.199219 13.9922 0.394531 15.3711 0.992187 15.9766C1.75391 16.7734 2.75391 16.7461 3.19922 16.832C4.80078 16.9844 10 17.0313 10 17.0313C10 17.0313 14.2031 17.0234 17 16.8242C17.3906 16.7773 18.2422 16.7734 19.0039 15.9766C19.6055 15.3711 19.8008 13.9922 19.8008 13.9922C19.8008 13.9922 20 12.375 20 10.7539V9.23828C20 7.62109 19.8008 6 19.8008 6ZM7.93359 12.5938V6.97266L13.3359 9.79297L7.93359 12.5938Z" fill="currentColor"/>
        </svg>							
      </a>
    </li>
    <li>
      <a href="https://codepen.io/miocene" class="link social-links__codepen" aria-label="Open CodePen page">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0414 9.05222L10.7682 6.76797V3.09321L16.6838 7.20818L14.0414 9.05222ZM15.3993 9.99998L17.2883 8.68158V11.3181L15.3993 9.99998ZM10.7682 13.2319L14.0414 10.9477L16.6838 12.7917L10.7682 16.9067V13.2319ZM5.98482 10.9477L9.25804 13.2319V16.9067L3.34264 12.7917L5.98482 10.9477ZM4.62722 9.99998L2.73839 11.3181V8.68158L4.62722 9.99998ZM9.25804 6.76797L5.98482 9.05222L3.34264 7.20818L9.25804 3.09321V6.76797ZM10.013 11.8634L7.34261 9.99987L10.013 8.13608L12.6833 9.99987L10.013 11.8634ZM18.7852 7.07007C18.7812 7.04761 18.7776 7.02563 18.7719 7.00391C18.7684 6.99082 18.7641 6.97848 18.7601 6.96564C18.7542 6.94638 18.7483 6.92712 18.7407 6.90811C18.7355 6.89527 18.7296 6.88243 18.7239 6.86984C18.7159 6.85207 18.7076 6.83454 18.6981 6.8175C18.6913 6.80491 18.6839 6.79306 18.6766 6.78096C18.6664 6.76467 18.656 6.74862 18.6446 6.73306C18.6364 6.72171 18.6278 6.71035 18.6189 6.69924C18.607 6.68443 18.5942 6.67035 18.5812 6.65653C18.5713 6.64591 18.5614 6.63554 18.5512 6.62567C18.5375 6.61283 18.523 6.60048 18.5084 6.58839C18.497 6.57925 18.4859 6.56987 18.474 6.56147C18.47 6.55826 18.466 6.55456 18.4617 6.5516L10.4318 0.965648C10.1784 0.78912 9.84785 0.78912 9.59445 0.965648L1.56473 6.5516C1.56024 6.55456 1.55645 6.55826 1.55219 6.56147C1.54036 6.56987 1.52924 6.57925 1.51789 6.58839C1.50345 6.60048 1.48878 6.61283 1.4753 6.62567C1.46489 6.63554 1.45495 6.64591 1.44525 6.65653C1.432 6.67035 1.41946 6.68443 1.40739 6.69924C1.3984 6.71035 1.38988 6.72171 1.3816 6.73306C1.37024 6.74862 1.35983 6.76467 1.34966 6.78096C1.34232 6.79306 1.33499 6.80491 1.32836 6.8175C1.31866 6.83454 1.31038 6.85207 1.30257 6.86984C1.29689 6.88243 1.29074 6.89527 1.28577 6.90811C1.27844 6.92712 1.27205 6.94638 1.26614 6.96564C1.26211 6.97848 1.25785 6.99082 1.25454 7.00391C1.2491 7.02563 1.24508 7.04761 1.24129 7.07007C1.2394 7.08143 1.2368 7.09254 1.23514 7.1039C1.23088 7.13797 1.22852 7.17229 1.22852 7.20685V12.7928C1.22852 12.8276 1.23088 12.8617 1.23514 12.8958C1.2368 12.9074 1.2394 12.9185 1.24129 12.9298C1.24508 12.9518 1.2491 12.974 1.25454 12.9957C1.25785 13.0088 1.26211 13.0214 1.26614 13.034C1.27205 13.0535 1.27844 13.0728 1.28577 13.0918C1.29074 13.1049 1.29689 13.1172 1.30257 13.1298C1.31038 13.1476 1.31866 13.1651 1.32836 13.1824C1.33499 13.1947 1.34232 13.2068 1.34966 13.2184C1.35983 13.235 1.37024 13.2508 1.3816 13.2666C1.38988 13.2784 1.3984 13.2896 1.40739 13.3007C1.41946 13.3152 1.432 13.3295 1.44525 13.3431C1.45495 13.3535 1.46489 13.3641 1.4753 13.3737C1.48878 13.3868 1.50345 13.3994 1.51789 13.4115C1.52924 13.4207 1.54036 13.4298 1.55219 13.4384C1.55645 13.4416 1.56024 13.4451 1.56473 13.4481L9.59445 19.034C9.72127 19.1224 9.86702 19.1666 10.0132 19.1666C10.1592 19.1666 10.3052 19.1224 10.4318 19.034L18.4617 13.4481C18.466 13.4451 18.47 13.4416 18.474 13.4384C18.4859 13.4298 18.497 13.4207 18.5084 13.4115C18.523 13.3994 18.5375 13.3868 18.5512 13.3737C18.5614 13.3641 18.5713 13.3535 18.5812 13.3431C18.5942 13.3295 18.607 13.3152 18.6189 13.3007C18.6278 13.2896 18.6364 13.2784 18.6446 13.2666C18.656 13.2508 18.6664 13.235 18.6766 13.2184C18.6839 13.2068 18.6913 13.1947 18.6981 13.1824C18.7076 13.1651 18.7159 13.1476 18.7239 13.1298C18.7296 13.1172 18.7355 13.1049 18.7407 13.0918C18.7483 13.0728 18.7542 13.0535 18.7601 13.034C18.7641 13.0214 18.7684 13.0088 18.7719 12.9957C18.7776 12.974 18.7812 12.9518 18.7852 12.9298C18.7871 12.9185 18.7897 12.9074 18.7911 12.8958C18.7954 12.8617 18.798 12.8276 18.798 12.7928V7.20685C18.798 7.17229 18.7954 7.13797 18.7911 7.1039C18.7897 7.09254 18.7871 7.08143 18.7852 7.07007Z" fill="currentColor"/>
        </svg>							
      </a>
    </li>
    <li>
      <a href="https://twitter.com/julia_miocene" class="link social-links__twitter" aria-label="Open Twitter page">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.28961 18.1255C13.8368 18.1255 17.9648 11.8728 17.9648 6.45033C17.9648 6.27275 17.9648 6.09596 17.9528 5.91994C18.7559 5.33904 19.4491 4.61986 20 3.79596C19.2511 4.12779 18.4566 4.34537 17.6432 4.44154C18.4996 3.92889 19.141 3.12193 19.4472 2.17193C18.6418 2.64986 17.7605 2.98674 16.8416 3.16795C16.0657 2.34291 14.9821 1.87451 13.8497 1.87451C11.5965 1.87451 9.74246 3.72857 9.74246 5.9817C9.74246 6.29428 9.77816 6.60588 9.84879 6.91033C6.55121 6.74506 3.47457 5.18529 1.39199 2.62314C0.309023 4.48744 0.869375 6.90346 2.66238 8.10072C2.00945 8.08139 1.37055 7.90521 0.8 7.58713V7.63912C0.800547 9.58498 2.18465 11.2763 4.09199 11.6615C3.48793 11.8263 2.85398 11.8503 2.23922 11.7319C2.77543 13.3993 4.32168 14.5486 6.07281 14.5815C4.62008 15.7232 2.82449 16.3434 0.976797 16.3415C0.650313 16.3409 0.324141 16.3211 0 16.2823C1.87633 17.4864 4.06016 18.1253 6.28961 18.1223" fill="currentColor"/>
        </svg>							
      </a>
    </li>
    <li>
      <a href="https://mastodon.social/@julia_miocene" class="link social-links__mastodon" aria-label="Open Mastodon page">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5419 15.0051C16.094 14.7433 18.3162 13.3923 18.5955 12.1578C19.0356 10.2132 18.9993 7.41228 18.9993 7.41228C18.9993 3.61599 16.1042 2.50324 16.1042 2.50324C14.6446 1.92726 12.138 1.68504 9.53392 1.66675H9.46994C6.86585 1.68504 4.36096 1.92726 2.90116 2.50324C2.90116 2.50324 0.00602224 3.61599 0.00602224 7.41228C0.00602224 7.64242 0.00463771 7.88449 0.00319635 8.13649C-0.000806611 8.83634 -0.00524771 9.6128 0.0183135 10.4233C0.123447 14.1358 0.810549 17.7947 4.80586 18.7033C6.64801 19.1222 8.22963 19.2099 9.50341 19.1497C11.8134 19.0397 13.1101 18.4414 13.1101 18.4414L13.034 17.0015C13.034 17.0015 11.3832 17.4487 9.52931 17.3942C7.69254 17.3401 5.75349 17.224 5.45642 15.2866C5.42898 15.1164 5.41526 14.9344 5.41526 14.7433C5.41526 14.7433 7.21834 15.1219 9.50341 15.2119C10.9007 15.267 12.211 15.1416 13.5419 15.0051ZM15.5844 12.3035V7.70679C15.5844 6.76733 15.306 6.02078 14.7468 5.46846C14.17 4.91614 13.4148 4.63301 12.4773 4.63301C11.3925 4.63301 10.5711 4.99119 10.0281 5.70766L9.50002 6.46807L8.97204 5.70766C8.42892 4.99119 7.6075 4.63301 6.52279 4.63301C5.58526 4.63301 4.83001 4.91614 4.25331 5.46846C3.69406 6.02078 3.41564 6.76733 3.41564 7.70679V12.3035H5.53533V7.8419C5.53533 6.9014 5.99592 6.42404 6.91721 6.42404C7.93585 6.42404 8.44648 6.99032 8.44648 8.11004V10.5521H10.5537V8.11004C10.5537 6.99032 11.0642 6.42404 12.0828 6.42404C13.0041 6.42404 13.4647 6.9014 13.4647 7.8419V12.3035H15.5844Z" fill="currentColor"/>
        </svg>							
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/miocene" class="link social-links__linkedin"  aria-label="Open LinkedIn page">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.3896 2.5H3.60742C2.99512 2.5 2.5 2.9834 2.5 3.58105V16.416C2.5 17.0137 2.99512 17.5 3.60742 17.5H16.3896C17.002 17.5 17.5 17.0137 17.5 16.4189V3.58105C17.5 2.9834 17.002 2.5 16.3896 2.5ZM6.9502 15.2822H4.72363V8.12207H6.9502V15.2822ZM5.83691 7.14648C5.12207 7.14648 4.54492 6.56934 4.54492 5.85742C4.54492 5.14551 5.12207 4.56836 5.83691 4.56836C6.54883 4.56836 7.12598 5.14551 7.12598 5.85742C7.12598 6.56641 6.54883 7.14648 5.83691 7.14648ZM15.2822 15.2822H13.0586V11.8018C13.0586 10.9727 13.0439 9.90332 11.9014 9.90332C10.7441 9.90332 10.5684 10.8086 10.5684 11.7432V15.2822H8.34766V8.12207H10.4805V9.10059H10.5098C10.8057 8.53809 11.5322 7.94336 12.6133 7.94336C14.8662 7.94336 15.2822 9.42578 15.2822 11.3535V15.2822Z" fill="currentColor"/>
        </svg>							
      </a>
    </li>
  </ul>
</header>
<style>
  .main-page .header {
    max-width: 970px;
  }

  .post-page .header {
    max-width: 640px;
  }

  .header {
    display: flex;
    padding: 32px 0;
    margin: auto;
    justify-content: space-between;
    line-height: 100%;
  }

  .header__logo {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .header .link, .header .link:focus-visible {
    text-decoration: none;
    border-radius: 99rem;
    outline-offset: 8px;
  }
</style>