---
import '../styles/global.css';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'Julia Miocene',
	description = 'The personal',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="canonical" href="https://miocene.io/">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


<meta property="og:url" content="https://miocene.io/">
<meta property="og:title" content="Julia Miocene">
<meta property="og:description" content="Personal page">
<meta itemprop="description" content="Personal page">
<meta property="og:type" content="website">
<meta property="og:image" content="https://miocene.io/og.png">
<meta property="og:locale" content="en_EN">
<meta property="og:site_name" content="Julia Miocene">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://miocene.io/">
<meta property="twitter:title" content="Julia Miocene">
<meta property="twitter:description" content="Personal page">
<meta property="twitter:image" content="https://miocene.io/og.png">
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@julia_miocene">